<div class='pure-u-1' id='download'>
  <div class='l-box'>
  	<div class='pure-u-1' id='cards'></div>
  	<div id='download_desc'>
  		<p>Learn Japanese each time you open a new tab.</p>
  		<p><a id='chrome_btn' data-ng-click="shareTracking('getapp-download')" target='_blank' href="https://chrome.google.com/webstore/detail/mainichi/dfekdjmdikicceaiokcmmchenpilglhn?authuser=1"><span class="icon-plus"></span>Add to Chrome</a></p>
  		<p>
        <a target='_blank' data-ng-click="shareTracking('twitter-download')" class='twitter' href="https://twitter.com/home?status=Learn%20Japanese%20each%20time%20you%20open%20a%20new%20tab!%20Download%20now%20at%20the%20Chrome%20app%20store%20http://bit.ly/1AXMJtB"><span class="icon-twitter2"></span></a>
  		</p>
  	</div>
  </div>
</div>